.header {
  background-color: #ffffff;
  padding: 10px;
}

.content img {
  height: 100px;
  width: auto;
}

.c1 h1 {
  font-size: 90px;
  font-weight: 900;
}

.main {
  padding: 20px;
  background-image: url(../resources/background/Imagejtb7-1684960500563.webp);
  background-color: #ffffff;
  background-size: cover; /* This will make the image cover the entire .main container */
  background-position: center; /* Center the image within the .main container */
  backdrop-filter: blur(5px); /* Adjust the blur value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  color: white;
  padding: 20px 300px;
  width: 95%;
  min-height: 600px;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}

.text {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5;
}

.reactIcons {
  margin-left: 3px;
  transition: 0.1s all;
}

.reactIcons:hover {
  transform: translateY(-4px);
}

.links {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

@media (max-width: 1000px) {
  .content {
    padding: 20px;
  }
}

@media (max-width: 760px) {
  .main {
    padding: 5px;
  }
  .content {
    padding: 10px;
  }
  .heading {
    font-size: 30px;
  }
}
